/*mise en page générale -----------------------------------------*/

/*code couleur -----------------*/
/*rose #FF5A5F -----------------*/
/*gris #484848 -----------------*/
/*bleu #008489 -----------------*/

* {
  font-family: sans-serif;
  color: #484848;
  font-weight: normal;
  line-height: 1.43;
}

body {
  margin: 20px;
}

.displaytablet, .displaylaptop, header nav, main form label, main form button {
  display: none;
  /*pour cacher les autres reso de photos et d'autres détails en mobile first*/
}

a {
  text-decoration: none;
}


/*mise en page header ---------------*/


header img {
  width: 40px;
}

header a {
  position: relative;
}

header a > i {
  position: absolute;
  top: -15px;
  font-weight:100;
}

h1 {
  letter-spacing: -0.6px;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 2em;
}

h1 span {
  color: #ff5a5f;
  font-weight: 600;
  font-size: 25px;
}


/*mise en page main ---------------*/

main {
  font-size: 14px;
}

      /*mise en page formulaire de recherche -----------------------------------*/

main form {
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid lightgray;
  box-shadow: 0.1px 0.1px 2px lightgray;
  border-radius: 5px;
  color: inherit;
  padding: 4px;
  overflow-x: hidden;
}

form > div:first-child {
  /*border: 1px solid yellow;*/
  padding-left: 8px;
}


form input {
  background-color: inherit;
  border: none;
  /*border: 1px solid black;*/
  color: #484848!important;
  opacity: 1;
  font-size: 14px;
  /*width: 100px;*/
  line-height: 30px;
  margin-left: 3px;
}

form span {
   font-size: 1.3em;
   margin: 0;
   padding: 0;
}

main .where input {
  width: 50px;
}


main .when input {
  width: 135px;
}


main .howmany input {
  width: 80px;
}

        /*mise en page menu de navigation secondaire ---------------------------*/

main nav {
  padding-bottom: 0px;
  margin-top: 3em;
  /*background-color: yellow;*/
  height: 43px;
  border-bottom: 1px solid lightgray;
}

main nav ul {
  display: flex;
  padding-left: 0;
  /*flex-flow: row nowrap;*/
  font-variant-caps: all-small-caps;
  font-weight: bold;
}

main nav:first-of-type li {
  margin: 7px;
  /*border: 1px solid yellow;*/
  list-style: none;
}

main nav:first-of-type li a{
  font-weight: bold;
  letter-spacing: 0.4px;
}

main nav ul li:first-child a {
  /*line-height: inherit;*/
  color: #008489;
  padding-bottom: 16px;
  border-bottom: 2px solid #008489;
}
      /*mise en page des galeries ---------------------------*/

main section div {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}

main section figure {
  width: auto;
  margin: 4px;
}

main section figure img {
  width: 180px;
}
