/*mise en page générale -----------------------------------------*/

/*code couleur -----------------*/
/*rose #FF5A5F -----------------*/
/*gris #484848 -----------------*/
/*gris clair #767676 -----------*/
/*bleu #008489 -----------------*/

* {
  font-family: sans-serif;
  color: #484848;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: -0.7px;
}

body {
  margin: 20px;
}

.displaytablet, .displaylaptop, header nav, main form label, main form button,
footer nav .navfooter, .lihidden, main form .when i, main form .howmany i {
  display: none;
  /*pour cacher les autres reso de photos et d'autres détails en mobile first*/
}

a {
  text-decoration: none;
}

li {
    list-style: none;
}


/*mise en page header ---------------*/


header img {
  width: 40px;
}

header a {
  position: relative;
}

header a > i {
  position: absolute;
  top: -15px;
  font-weight:100;
}

h1 {
  /*letter-spacing: -0.6px;*/
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 2em;
}

h1 span {
  color: #ff5a5f;
  font-weight: 600;
  font-size: 25px;
}


/*mise en page main ---------------*/

main {
  font-size: 14px;
}

      /*mise en page formulaire de recherche -----------------------------------*/

main form {
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid lightgray;
  box-shadow: 0.1px 0.1px 2px lightgray;
  border-radius: 5px;
  color: inherit;
  padding: 4px;
  overflow-x: hidden;
}

form > div:first-child {
  /*border: 1px solid yellow;*/
  padding-left: 8px;
}


form input {
  background-color: inherit;
  border: none;
  /*border: 1px solid black;*/
  color: #484848!important;
  opacity: 1;
  font-size: 14px;
  /*width: 100px;*/
  line-height: 30px;
  margin-left: 3px;
}

form span {
   font-size: 1.3em;
   margin: 0;
   padding: 0;
}

main .where input {
  width: 45px;
}


main .when input {
  width: 125px;
}


main .howmany input {
  width: 75px;
}

        /*mise en page menu de navigation secondaire ---------------------------*/

main nav {
  padding-bottom: 0px;
  margin-top: 3em;
  /*background-color: yellow;*/
  height: 43px;
  border-bottom: 1px solid lightgray;
}

main nav ul {
  display: flex;
  padding-left: 0;
  /*flex-flow: row nowrap;*/
  font-variant-caps: all-small-caps;
  font-weight: bold;
}

main nav:first-of-type li {
  margin: 7px;
  /*border: 1px solid yellow;*/
}

main nav:first-of-type li a{
  font-weight: bold;
  /*letter-spacing: 0.4px;*/
}

main nav ul li:first-child a {
  /*line-height: inherit;*/
  color: #008489;
  padding-bottom: 16px;
  border-bottom: 2px solid #008489;
}
      /*mise en page des galeries ---------------------------*/

main section {
  margin: 3rem auto;
}

main section div {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}

main section figure {
  width: auto;
  margin: 4px;
}

main .activity figure img {
  width: 180px;
}

main section h2 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1.5em;
}

section figure figcaption i {
  color: #008489
}

section figure figcaption .comm {
  font-size: 0.8em;
}

section figure figcaption span:first-of-type {
  font-weight: bold;
}

/*pour mettre le bouton plus à droite dans les galeries */
.more {
  position: relative;
}
.more a {
  position: absolute;
  right: 0;
  top: 16px;
}


/*mise en page estimation revenue */

.revenus div {
  display: block;
  height: auto;
  /*position: relative;*/
}

.revenus div div {
  /*margin-top: 250px;*/
  font-size: 15px;
  letter-spacing: normal;
  height: 200px;
}

.revenus div div h2 {
  font-size: 1.4em;
}

main .revenus img{
  width: 100%;
  padding: 0;
}

main .revenus a {
  background-color: #008489;
  font-weight: bold;
  color: white;
  padding: 9px 15px;
  border-radius: 4px;
  font-size: 0.9rem;
}



/*mise en page footer ---------------------- */
footer {
  color: #767676;
}

footer form {
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
}

footer form select {
  height: 55px;
  width: 40%;
  font-size: 1.1em;
  margin: 0.5em;
  /*box-shadow: 1px 1px 1px lightgray;*/
  /*background-color: white;*/
  /*border: 1px solid lightgray;*/
}

footer > div img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  width: 30px;
  position: relative;
  top: 8px;
}

footer > div nav ul {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
}

footer > div nav li {
  margin: 0 5px;
  font-size: 0.8em;
  position: relative;
  top: -15px;
  left: -42px;
}



















/*----------------------MISE EN PAGE TABLETTE ----------------------------------------*/

@media (min-width: 500px) {

  /*mise en page en-tete---------------------- */
  h1 {
    font-size: 40px;
    font-weight:500;
    /*margin-bottom: 2em;*/
  }

  h1 span {
    font-size: 1em;
  }

  /*mise en page main --------------------------*/

    /*mise en page formulaire main */
  main form {
    padding: 0px;
    height: 45px;
    overflow: hidden;
    /*line-height: 500px!important;*/
  }

  main form div {
    height: 100%;
    width: 37%;
    border: 1px solid lightgray;
  }

  main form div:first-of-type {
    width: 25%;
  }

  main form div i {
    display: inline !important;
    margin: 0 8px 0 15px;
  }

  main form div input {
  padding-top: 6px;
  }

  main form div span {
    display: none;
  }

  /*mise en page galerie */
  main img:first-child {
    display: none;
  }

  main .displaytablet {
    display: block;
  }

  main h2 {
    font-size: 2em!important;
  }

  .activity div .displaytablet, .destination div .displaytablet {
  width: 200px;
  }

  .accommodation div .displaytablet {
    width: 410px!important;
  }


}
